<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Mary's Blog</h1>
<p>First posts are below</p>
<p>Added second post</p>
<p>Added third post</p>
<%= yield %>

</body>
</html>
